body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: auto;
  background-color: #f4f4f4;
}

/*Global*/
.container{
  width: 80%;
  margin-left: 150px;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:39px;
  background: #e8491d;
  border:0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}

/*Header*/
header{
  background: #35424a;
  color:#ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
}

header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin: 0;
}

Header nav{
  float:right;
  margin-top: 10px;
}

header .highlight, header .current a{
  font-weight:bold;
}

header a:hover{
  font-weight:bold;
}

/*showcase*/
#showcase{
  min-height: 400px;
  margin-left: 0px;
  background:url('../img/m.jpg') no-repeat;
text-align:left;
text
}

#showcase h1{
  margin-top: 140px;
  font-size: 25px;
  margin-bottom: 0;
}

#showcase p{
  font-size: 15px;
}

/* Sign-up*/
#Sign-up{
  padding:10px;
  color:#ffffff;
  background:#35424a;
}

#Sign-up li{
  float:left;
  height:20px;
  background: #e8491d;
  border:0;
  margin-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;

}

#Sign-up form{
  float:right;
  margin-top: 25px;
  margin-left: 20px;
}

#Log-in input[type="email"]{
  padding:5px;
  height:6px;
  width:180px;
}

#Log-in input[type="password"]{
  padding:5px;
  height:6px;
  width:120px;
}

/* Boxes */
#boxes{
margin-top: 20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%
  padding:10px;
}

/* Thumbnail Changes */
.container-wrapper img{
  height: 100px;
}
.container-wrapper{
  display: table-cell;
  padding-right: 20px;
}
.loginWrapper form{
  display: inline;
}
.loginWrapper{
  padding: 30px 40px 40px 20px;
}
.LoginSectionWrapper{
  background: #35424a;
  height: 100px;
  color: #fff;
}
.signupTxt{
  color: #fff;
  padding: 10px;
  background: #e8491d;
  list-style: none;
  text-decoration: none;
  font-size: 15px;
}
.loginInput{
  padding: 10px;
}
.orTxt{
  padding-left: 20px;
  padding-right: 20px;
}
.boxWrapper{
  padding-left: 20px;
}
.footerWrapper{
  background: #35424a;
  height: 50px;
  padding: 20px;
  color: #fff;
}
.listOfDockets{
  display: none;
}
.popularDockets{
  display: none;
}
.myCheckList{
  display: none;
}
.active{
  display: block !important;
}
.docketWrapper{
  padding-left: 20px;
  padding-bottom: 20px;
}
.listOfDockets a{
  display: block;
}
 .popularDockets a{
  display: block;
}
.myCheckList a{
  display: block;
}
